@use "../mixin" as *;
.concept {
  &__top {
    width: 100%;
    height: 100vh;
    background-image: url(../img/concept-bg.png);
    background-size: 100% 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }
  &__bg {
    position: absolute;
    top: 169px;
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__deco {
    position: absolute;
    bottom: 72px;
    left: 371px;
    width: 521px;
  }

  &__inner {
    position: relative;
  }

  &__logo {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px 0;
  }

  &__title {
    top: 260px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 110px 0;

    &-title {
      font-size: 28px;
      color: $navy;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 7px;
        background-image: url(../img/concept-border.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    & > :first-child &-title {
      font-size: 38px;
      &::after {
        height: 10px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 7px;

      padding-top: 11px;

      font-size: 19px;
      letter-spacing: 0.05rem;
      line-height: 0.98;

      color: $navy;
      text-align: center;

      font-family: "小塚ゴシック Pr6N", sans-serif;
    }
    &-text:first-child {
      font-size: 19px;
    }
  }

  &__login {
    margin-top: 145px;
    &-title {
      padding: 12px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      font-size: 29px;
      letter-spacing: 0.1rem;
      font-family: "FOT-ハミング Std", sans-serif;
      text-align: center;

      border-top: 2px solid #ff2e87;
      border-bottom: 2px solid #ff2e87;
      color: #ff2e87;
      position: relative;

      margin: 0 auto;
      width: 800px;

      &::before {
        content: "";
        display: block;
        width: 2px;
        height: 37px;
        background-color: #ff2e87;
        position: absolute;
        left: 75px;
        top: 11px;
        transform: rotate(14deg);
      }
    }
    &-text {
      font-size: 19px;
      color: #000;
      text-align: center;
      font-family: "FOT-ハミング Std", sans-serif;
      line-height: 1.8;
      padding: 25px 5px 0;

      span {
        color: #ff2e87;
        font-size: 29px;
        position: relative;
        padding: 0 5px;
        letter-spacing: 0.1rem;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 7px;
          background-image: url(../img/concept-border2.png);
          background-size: cover;
          background-position: center left;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          bottom: -7px;
        }
      }
    }
    &-img {
      padding-top: 52px;
    }
  }
}
