@use "../mixin" as *;
.simulation {
  margin-top: 156px;
  position: relative;
  @include pc{
    margin-top: calc(156vw / (1200 / 100));
  }


  &__title {
    top: 90px;
    @include pc{
      top: calc(90vw / (1200 / 100));
    }
  }

  &__inner-title {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 29px;
    letter-spacing: 0.1rem;
    font-family: "FOT-ハミング Std", sans-serif;
    text-align: center;

    border-top: 2px solid #00b1ff;
    border-bottom: 2px solid #00b1ff;
    color: #00b1ff;
    position: relative;

    margin: 0 auto;
    width: 800px;
    @include pc{
      width: calc(800vw / (1200 / 100));
      padding: calc(12vw / (1200 / 100)) 0;
      font-size: calc(29vw / (1200 / 100));
      gap: calc(10vw / (1200 / 100));
    }
    @include tab {
      width: calc(500vw / (768 / 100));
    }
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 37px;
      background-color: #00b1ff;
      position: absolute;
      left: 75px;
      top: 11px;
      transform: rotate(14deg);
      @include pc{
        width: calc(2vw / (1200 / 100));
        height: calc(37vw / (1200 / 100));
        left: calc(75vw / (1200 / 100));
        top: calc(11vw / (1200 / 100));
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    width: 1081px;
    @include pc{
      width: calc(1081vw / (1200 / 100));
      gap: calc(40vw / (1200 / 100));
      margin-top: calc(40vw / (1200 / 100));
    }
    @include tab {
      width: calc(540vw / (768 / 100));
    }

    &-item {
      display: flex;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      font-family: "FOT-ハミング Std", sans-serif;

      padding: 53px 65px;
      gap: 40px;
      @include pc{
        border-radius: calc(20vw / (1200 / 100));
        padding: calc(53vw / (1200 / 100)) calc(60vw / (1200 / 100));
        gap: calc(40vw / (1200 / 100));

      }

      // 1番目: 青い背景
      &:nth-child(1) {
        background-color: #00b7ff15;
      }

      // 2番目: ピンクがかった赤の背景
      &:nth-child(2) {
        background-color: #ff768615;
      }

      // 3番目: 緑の背景
      &:nth-child(3) {
        background-color: #00cc8815;
      }

      &-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include pc{
          gap: calc(20vw / (1200 / 100));
        }
      }

      &-title {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.12rem;
        text-align: center;
        @include pc{
          font-size: calc(32vw / (1200 / 100));
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 28px;
        @include pc{
          gap: calc(28vw / (1200 / 100));
        }
      }

      &-name-time {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        @include pc{
          gap: calc(6vw / (1200 / 100));
        }
      }

      &-name {
        padding-right: 23px;
        font-size: 22px;
        @include pc{
          padding-right: calc(23vw / (1200 / 100));
          font-size: calc(22vw / (1200 / 100));
        }
      }

      &-time {
        font-size: 20px;
        letter-spacing: 0.29em;
        padding: 3px 30px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        display: inline-block;
        width: fit-content;
        margin: 0;
        @include pc{
          font-size: calc(20vw / (1200 / 100));
          padding: calc(3vw / (1200 / 100)) calc(30vw / (1200 / 100));
        }
      }

      &-course-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: #000000;
        @include pc{
          gap: calc(12vw / (1200 / 100));
        }
      }

      &-course {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-family: initial;
        @include pc{
          gap: calc(20vw / (1200 / 100));
        }
      }

      &-course-name {
        font-size: 19px;
        @include pc{
          font-size: calc(19vw / (1200 / 100));
        }
      }

      &-course-price {
        padding-right: 57px;
        font-size: 19px;
        @include pc{
          font-size: calc(19vw / (1200 / 100));
          padding-right: calc(57vw / (1200 / 100));
        }
      }

      &-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
      }

      &-income {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 16px;
        align-items: baseline;
        width: 100%;
        @include pc{
          column-gap: calc(16vw / (1200 / 100));
        }
      }

      &-income-label {
        font-size: 54px;
        font-weight: bold;
        opacity: 0.9;
        text-align: left;
        justify-self: start;
        @include pc{
          font-size: calc(54vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(54vw / (768 / 100));
        }
        span {
          font-size: 42px;
          @include pc{
            font-size: calc(42vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(42vw / (768 / 100));
          }
        }
      }

      &-income-value {
        font-size: 54px;
        font-weight: bold;
        opacity: 0.9;
        margin: 0;
        text-align: right;
        justify-self: end;
        @include pc{
          font-size: calc(54vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(54vw / (768 / 100));
        }
        span {
          font-size: 41px;
          @include tab {
            font-size: calc(41vw / (768 / 100));
          }
        }
      }

      &-right-work {
        font-size: 28px;
        font-weight: bold;
        text-align: right;
        letter-spacing: 0.3rem;
        @include pc{
          font-size: calc(28vw / (1200 / 100));
        }
      }

      &-right-days {
        font-size: 28px;
        font-weight: bold;
        text-align: right;
        letter-spacing: 0.3rem;
        padding-top: 35px;
        @include pc{
          font-size: calc(28vw / (1200 / 100));
          padding-top: calc(35vw / (1200 / 100));
        }
      }

      // 各ブロックのテキストカラー調整
      &:nth-child(1) {
        .simulation-content-item-title,
        .simulation-content-item-name,
        .simulation-content-item-right-work,
        .simulation-content-item-right-days,
        .simulation-content-item-income-label,
        .simulation-content-item-income-value {
          color: #00b1ff;
        }
        .simulation-content-item-time {
          background-color: #00b1ff;
          color: #ffffff;
        }
      }

      &:nth-child(2) {
        .simulation-content-item-title,
        .simulation-content-item-name,
        .simulation-content-item-right-work,
        .simulation-content-item-right-days,
        .simulation-content-item-income-label,
        .simulation-content-item-income-value {
          color: #ff7687;
        }
        .simulation-content-item-time {
          background-color: #ff7687;
          color: #ffffff;
        }
      }

      &:nth-child(3) {
        .simulation-content-item-title,
        .simulation-content-item-name,
        .simulation-content-item-right-work,
        .simulation-content-item-right-days,
        .simulation-content-item-income-label,
        .simulation-content-item-income-value {
          color: #00cc87;
        }
        .simulation-content-item-time {
          background-color: #00cc87;
          color: #ffffff;
        }
      }
    }
  }
}
