@use "../mixin" as *;

.standard {
  padding-top: 204px;
  padding-bottom: 100px;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
  }
  &__title {
    top: 252px;
  }
  &__content {
    &-text {
      font-size: 25px;
      color: #00c7d3;
      text-align: center;
      font-family: "FOT-ハミング Std", sans-serif;
      line-height: 1.5;
      padding: 25px 5px 0;
      &::after {
        content: "";
        display: block;
        margin-top: -18px;
        width: 846px;
        height: 60px;
        background-image: url(../img/standard-border.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 113px;

    &-1 {
      text-align: center;
      img {
        width: 576px;
        margin: 0 auto;
      }
    }
    &-2 {
      position: absolute;
      top: 74px;
      left: 79px;
      z-index: 1;
    }
  }
}
