@use "../mixin" as *;
.top {
  width: 100%;
  position: relative;
  padding-bottom: 137px;
  height: 70vh;
  @include pc{
    padding-bottom: calc(137vw / (1200 / 100));
    height: 90%;
  }

  &__inner {
    margin-top: 96px;
    @include pc{
      margin-top: calc(96vw / (1200 / 100));
    }
  }

  &__swiper {
    width: 1090px !important;
    height: 100%;
    overflow: hidden;
    @include pc{
      width: calc(1090vw / (1200 / 100)) !important;
    }
    @include tab {
      width: calc(885vw / (768 / 100)) !important;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: unset !important;
  }

  .swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .top__content-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 48px !important;
    left: 0;
    transform: none;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
    width: auto;
    height: auto;
    margin-right: 80px;
    @include pc{
      margin-right: calc(80vw / (1200 / 100));
      bottom: calc(48vw / (1200 / 100)) !important;
      gap: calc(28vw / (1200 / 100));
    }
    .swiper-pagination-bullet {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid $navy;
      color: $navy;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      margin: 0;
      transition: all 0.3s ease;
      cursor: pointer;
      @include pc{
        width: calc(40vw / (1200 / 100));
        height: calc(40vw / (1200 / 100));
        border: calc(2vw / (1200 / 100)) solid $navy;
        font-size: calc(16vw / (1200 / 100));
      }
      &:hover {
        background-color: #f0f0f0;
        transform: scale(1.1);
      }

      &.swiper-pagination-bullet-active {
        background-color: $navy;
        color: #fff;
        border-color: $navy;
      }
    }
  }
}
