@use "../mixin" as *;
.working {
  padding-top: 350px;
  &__top {
    width: 100%;
    height: 1538px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/working-bg.png);
    position: relative;
  }
  &__bg {
    position: absolute;
    top: 169px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__deco {
    position: absolute;
    bottom: 427px;
    left: 918px;
    width: 404px;
  }
  &__logo {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px 0;
  }

  &__inner {
    position: relative;
  }
  &__title {
    top: 260px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 120px 0 0 299px;
    letter-spacing: 0.18rem;

    &-title {
      font-size: 36px;
      color: #000000;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 7px;
        background-image: url(../img/working-border.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 7px;

      padding-top: 11px;

      font-size: 15px;
      letter-spacing: 0.05rem;
      line-height: 1.5;

      color: #000000;
      text-align: center;
    }
    &-text:first-child {
      font-size: 19px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    margin-top: 116px;
  }
  &__bottom-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
  }
  &__bottom-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__bottom-text {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    font-family: initial;
  }
}
