@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

$pc: 1280px;
$tab: 768px;
$sp: 440px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/* rem単位でのクランプをvw単位に変換 */
@function rclamp($min, $max, $minViewport, $maxViewport) {
  $vwScale: ($max - $min) / ($maxViewport - $minViewport); // vw単位でのスケールを計算
  $baseOffset: $min - $minViewport * $vwScale; // 基準となる最小値からのオフセットを計算

  $minRem: $min / 16; // 最小値をremに変換
  $maxRem: $max / 16; // 最大値をremに変換
  $baseOffsetRem: $baseOffset / 16; // オフセットをremに変換
  $vwScaleRem: $vwScale * 100; // vwスケールを調整

  @return clamp(
    #{$minRem}rem,
    #{$baseOffsetRem}rem + #{$vwScaleRem}vw,
    #{$maxRem}rem
  );
}

$base: #ff7687;
$navy: #06007f;
$black: #3c3c3c;
$yellow: #e1b148;
$blue: #76ccf3;
$pink: #ec83a6;
$green: #79bd28;

@font-face {
  font-family: "mgen";
  src: url(../font/mgenplus-1c-medium.ttf) format("truetype");
}
